body {
    margin-top: 0;
}

nav {
    width: 100%; 
    height: 10%;
    background-color: white;  
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

a {
    color: black; 
    text-decoration: none; 
    font-family: 'Comfortaa', cursive;
    font-weight: 900;
    margin: 3%;
}

a:hover {
    color: #088A68;
}

.seccionPrincipal {
    width: 100%;
    height: auto;
    display: flex;
    background-image: url("../img/rack3.jpg");
    justify-content: center;
    align-items: center; 
    
}


.seccionPrincipal p {
    color: white; 
    font-family: 'Julius Sans One', sans-serif;
    font-size: 7.5rem; 
}

.segundaSeccion {
    display: flex;
    font-family: 'Lekton', sans-serif;
    font-size: 2em;
    justify-content: center;
    
}

.terceraSeccion {
    display: flex; ;
    flex-direction: row; 
    justify-content: center;
    font-size: 1em;
    
}

.terceraSeccion p, .terceraSeccion img {
   width: 35%; 
   height: 400px;  
   margin: 3%;
   font-family: 'Josefin Sans', sans-serif;
   text-align: justify; 
}

.seccionVideo {
    width: 100%;
    height: 600px;
}


.tituloVideo {
    display: flex;
    justify-content: center;
}

.tituloVideo h1 {
    color: black;
    font-family: 'Lekton', sans-serif;
    font-size: 2.5em;
    
}

.video {
    display: flex;
    justify-content: center;
}



.formulario {
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background-image: url("../img/escritorio3.jpg");
  height: 600px;  
    
}

.formulario li h1 {
    font-family: 'Lekton', sans-serif;
    font-size: 2em;
    text-align: center;
}

li {
    list-style-type: none;
}

li input, li textarea{
    font-family: 'Josefin Sans', sans-serif;
    font-size: 1.5em;
    width: 80%; 
    margin: 2.5%;
    border: none;
    background-color: none;
    opacity: 0.5;
    
}

li button {
  margin-left: 25%;
  padding: 8px 16px;
  border: none;
  background: #333;
  color: #f2f2f2;
  text-transform: uppercase;
  letter-spacing: .09em;
  border-radius: 2px;
}

.final {
    display: flex;
    flex-direction: column;
    height: 200px;
    background-color: #1C1C1C;
    color: white; 
    font-size: 1em;
}

.final i{
    justify-content: center;
    margin-left: 3%; 
    margin-top: 3%;
}

.row{
    flex-direction: row;
}

.row a {
    color: white; 
}

.row a:hover {
   color: #088A68;
}

