

nav {
    width: 100%; 
    height: 10%;
    background-color: white;  
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
}

a {
    color: black; 
    text-decoration: none; 
    font-family: 'Comfortaa', cursive;
    font-weight: 900;
    margin: 3%;
}

a:hover {
    color: #088A68;
}

.titulo {
    width: 100%;
    height: 900px;
    
}

.titulo img {
    width: 100%;
    display: flex;
}

.titulo p {
    opacity: 0.2;
    position: absolute;
    font-family: 'Julius Sans One', sans-serif;
    font-size: 7.5em; 
    top: 15%;
    left: 19%;
    
}